@import "~mapbox-gl/dist/mapbox-gl.css";

.feature-card {
  padding: 1rem;
}

.meter-map {
  height: 86vh;
  width: 100%;
  border-radius: 0px;
  overflow: hidden;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}